<mat-card class="muscle-group">
    <mat-card-title>{{ muscleGroupName }}</mat-card-title>
    <mat-card-content>
      <div class="muscle-group-exercise-list">
        <mat-expansion-panel
          #mep="matExpansionPanel"
          class="muscle-group-exercise"
          *ngFor="let exercise of exerciseList">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ exercise.name }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <form (submit)="selected.emit({id: exercise.id, reps: totalReps.value}); mep.expanded = false">
            <mat-form-field>
              <mat-label *ngIf="muscleGroupName === 'Rest'">
                Seconds
              </mat-label>
              <mat-label *ngIf="muscleGroupName !== 'Rest'">
                Repetitions
              </mat-label>
              <input #totalReps matInput placeholder="Ex. 10" value="10">
            </mat-form-field>
            <button
              mat-raised-button
              color="warn"
              type="submit">
              Add to current workout
          </button>
        </form>
        </mat-expansion-panel>
      </div>
    </mat-card-content>
  </mat-card>