<mat-card class="muscle-group">
    <mat-card-title>{{ muscleGroupName }}</mat-card-title>
    <mat-card-content>
      <div class="muscle-group-exercise-list">
        <mat-expansion-panel class="muscle-group-exercise" *ngFor="let exercise of exerciseList">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ exercise.name }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field class="example-full-width">
            <mat-label>Repetitions</mat-label>
            <input #totalReps matInput placeholder="Ex. 10" value="10">
          </mat-form-field>
          <button mat-raised-button color="warn" (click)="selected.emit({id: exercise.id, reps: totalReps.value})">Add to current workout</button>
        </mat-expansion-panel>
      </div>
    </mat-card-content>
  </mat-card>