$theme-blue: #4051B5;

.muscle-group {
    margin-bottom: 7.5px;

    mat-expansion-panel-header {
        background-color: $theme-blue !important;
    }
    
    .muscle-group-exercise-list {
        margin-bottom: 15px;
    
        h2 {
            margin-bottom: 5px;
        }
        .muscle-group-exercise {
            margin-bottom: 5px;
        }
        mat-form-field {
            margin-top: 15px;
        }
        button {
            margin-left: 15px;
        }
    }
}
