

<div class="page-container">
  <div class="tunda-pack-logo-container" >
    <img src="../assets/tunda-pack-logo.png" alt="tunda pack logo" />
  </div>
  <div class="workout-creation-container">
    <div class="exercise-selector-container">
      <div class="muscle-group-list">
        <h2>Add Rest</h2>
        <mat-expansion-panel class="muscle-group-exercise" *ngFor="let exercise of restList">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ exercise.name }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field class="example-full-width">
            <mat-label>Seconds</mat-label>
            <input #totalSeconds matInput placeholder="Ex. 30" value="30">
          </mat-form-field>
          <button style="margin-left:15px" mat-raised-button color="warn" (click)="addExerciseToWorkout(exercise.id, totalSeconds.value)">Add to current workout</button>
        </mat-expansion-panel>
      </div>
      <div class="muscle-group-list">
        <h2>Bicep Exercises</h2>
        <mat-expansion-panel class="muscle-group-exercise" *ngFor="let exercise of bicepList">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ exercise.name }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field class="example-full-width">
            <mat-label>Repetitions</mat-label>
            <input #totalReps matInput placeholder="Ex. 10" value="10">
          </mat-form-field>
          <button style="margin-left:15px" mat-raised-button color="warn" (click)="addExerciseToWorkout(exercise.id, totalReps.value)">Add to current workout</button>
        </mat-expansion-panel>
      </div>
      <div class="muscle-group-list">
        <h2>Tricep Exercises</h2>
        <mat-expansion-panel class="muscle-group-exercise" *ngFor="let exercise of tricepList">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ exercise.name }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field class="example-full-width">
            <mat-label>Repetitions</mat-label>
            <input #totalReps matInput placeholder="Ex. 10" value="10">
          </mat-form-field>
          <button style="margin-left:15px" mat-raised-button color="warn" (click)="addExerciseToWorkout(exercise.id, totalReps.value)">Add to current workout</button>
        </mat-expansion-panel>
      </div>
      <div class="muscle-group-list">
        <h2>Chest Exercises</h2>
        <mat-expansion-panel class="muscle-group-exercise" *ngFor="let exercise of chestList">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ exercise.name }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field class="example-full-width">
            <mat-label>Repetitions</mat-label>
            <input #totalReps matInput placeholder="Ex. 10" value="10">
          </mat-form-field>
          <button style="margin-left:15px" mat-raised-button color="warn" (click)="addExerciseToWorkout(exercise.id, totalReps.value)">Add to current workout</button>
        </mat-expansion-panel>
      </div>
      <div class="muscle-group-list">
        <h2>Shoulder Exercises</h2>
        <mat-expansion-panel class="muscle-group-exercise" *ngFor="let exercise of shoulderList">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ exercise.name }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field class="example-full-width">
            <mat-label>Repetitions</mat-label>
            <input #totalReps matInput placeholder="Ex. 10" value="10">
          </mat-form-field>
          <button style="margin-left:15px" mat-raised-button color="warn" (click)="addExerciseToWorkout(exercise.id, totalReps.value)">Add to current workout</button>
        </mat-expansion-panel>
      </div>
      <div class="muscle-group-list">
        <h2>Ab Exercises</h2>
        <mat-expansion-panel class="muscle-group-exercise" *ngFor="let exercise of abList">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ exercise.name }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field class="example-full-width">
            <mat-label>Repetitions</mat-label>
            <input #totalReps matInput placeholder="Ex. 10" value="10">
          </mat-form-field>
          <button style="margin-left:15px" mat-raised-button color="warn" (click)="addExerciseToWorkout(exercise.id, totalReps.value)">Add to current workout</button>
        </mat-expansion-panel>
      </div>
    </div>
    <div class="workout-summary-container" style="display: inline-block; vertical-align: top;">
      <h2>Workout Summary</h2>
      <mat-list class="workout-summary-list" style="padding-top: 0;">
        <mat-list-item
          class="workout-item"
          [ngClass]="{'rest-item': workout.id === 0}"
          *ngFor="let workout of finalList; let i = index;">
          <div style="display:flex; justify-content: space-between; width:100%">
            <span>{{ workout.name }}</span>
            <span>
              {{ workout.repCount }}
              <span *ngIf="workout.id !== 0">reps</span>
              <span *ngIf="workout.id === 0">seconds</span>
              <span 
                (click)="removeExerciseFromWorkout(i)"
                class="remove-exercise-btn">
                &times;
              </span>
            </span>
          </div>
          <mat-divider></mat-divider>
        </mat-list-item>
        <button 
        *ngIf="finalList.length > 0"
        style="display: flex; justify-self:center; margin-top:15px" mat-raised-button color="warn" (click)="createWorkout()">Create Workout</button>
      </mat-list>
    </div>
  </div>
  <div class="workouts-container">
    <div *ngIf="videoList.length === 0" style="display:flex; justify-content: center;">
      <strong style="font-size:18px">Nothing to display...create a workout first!</strong>
    </div>
    <div *ngIf="videoList.length > 0">
      <div style="display: inline-block; vertical-align: top;">
        <mat-list class="workout-item-list" style="padding-top: 0">
          <mat-list-item
            class="workout-item"
            [ngClass]="{'selected-exercise': selectedWorkout === i, 'rest-item': workout.id === 0}"
            *ngFor="let workout of videoList; let i = index;"
            (click)="selectWorkout(i)">
            <div style="display:flex; justify-content: space-between; width:100%">
              <span>{{ workout.name }}</span>
              <span>
                {{workout.repCount}}
                <span *ngIf="workout.id !== 0">reps</span>
                <span *ngIf="workout.id === 0">seconds</span>
              </span>
            </div>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
      </div>
      <div class="video-container" style="display: inline-block">
        <iframe 
          *ngIf="videoList[selectedWorkout].id !== 0"
          style="border: 1px solid black"
          width="560" height="315" [src]='getSelectedWorkoutUrl()' frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
        <div 
        *ngIf="videoList[selectedWorkout].id === 0"
        style="height:315px; width:560px; display:flex; justify-content: center; align-items: center; font-size:18px; border:1px solid black; margin-bottom:5px">
          <strong>REST for {{ videoList[selectedWorkout].repCount }} seconds</strong>
        </div>
        <div class="video-button-container" style="display:flex; justify-content: space-between;">
          <div>
            <button mat-raised-button color="basic" *ngIf="selectedWorkout !== 0" (click)="goToPreviousExercise()">Previous</button>
          </div>
          <div style="display:flex; align-items:center">
            <strong>{{ videoList[selectedWorkout].name }}, {{ videoList[selectedWorkout].repCount }}
              <span *ngIf="videoList[selectedWorkout].id !== 0">reps</span>
              <span *ngIf="videoList[selectedWorkout].id === 0">seconds</span>
            </strong>
          </div>
          <div>
            <button mat-raised-button color="warn" *ngIf="selectedWorkout !== videoList.length - 1" (click)="goToNextExercise()">Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>