.app-navbar {
    display: flex;
    justify-content: center;

    .tunda-pack-logo-container {
        margin-right: 30px;
    }
}

.page-container {
    width: 80%;
    max-width: 1200px;
    margin: 7.5px auto;
}
