<div class="workout-creation-container">
    <div class="exercise-selector-container">
      <h2>Exercises (by muscle group)</h2>
      <app-muscle-group [muscleGroupName]="'Rest'" [exerciseList]="restList" (selected)="addExerciseToWorkout($event)"></app-muscle-group>
      <app-muscle-group [muscleGroupName]="'Abs'" [exerciseList]="abList" (selected)="addExerciseToWorkout($event)"></app-muscle-group>
      <app-muscle-group [muscleGroupName]="'Biceps'" [exerciseList]="bicepList" (selected)="addExerciseToWorkout($event)"></app-muscle-group>
      <app-muscle-group [muscleGroupName]="'Chest'" [exerciseList]="chestList" (selected)="addExerciseToWorkout($event)"></app-muscle-group>
      <app-muscle-group [muscleGroupName]="'Shoulder'" [exerciseList]="shoulderList" (selected)="addExerciseToWorkout($event)"></app-muscle-group>
      <app-muscle-group [muscleGroupName]="'Triceps'" [exerciseList]="tricepList" (selected)="addExerciseToWorkout($event)"></app-muscle-group>
    </div>
    <div class="workout-summary-container">
      <h2>Workout Summary</h2>
      <mat-list class="workout-summary-list">
        <mat-card
          [ngClass]="{'rest-item': workout.id === 0}"
          *ngFor="let workout of finalList; let i = index;">
          <mat-card-content>
            <span>{{ workout.name }}</span>
            <span>
              {{ workout.repCount }}
              <span *ngIf="workout.id !== 0">reps</span>
              <span *ngIf="workout.id === 0">seconds</span>
              <mat-icon
                (click)="removeExerciseFromWorkout(i)"
                class="remove-exercise-btn"
                aria-hidden="false"
                aria-label="Remove Exercise Icon">
                remove_circle_outline
              </mat-icon>
            </span>
          </mat-card-content>
        </mat-card>
        <button
          class="create-workout-btn"
          *ngIf="finalList.length > 0"
          mat-raised-button color="warn"
          (click)="createWorkout()">
          Create Workout
        </button>
      </mat-list>
    </div>
  </div>