<div class="workout-container">
    <div class="empty-workout" *ngIf="exerciseList.length === 0">
      <strong>Nothing to display...create a workout first!</strong>
    </div>
    <div class="exercises-container" *ngIf="exerciseList.length > 0">
      <div class="exercise-list-container">
        <mat-list class="exercise-list">
          <mat-card
          class="exercise-item"
          *ngFor="let exercise of exerciseList; let i = index;"
          (click)="selectExercise(i)"
          [ngClass]="{'selected-exercise': selectedExercise === i, 'rest-item': exercise.id === 0}">
            <mat-card-content>
              <div class="card-content-wrapper">
                <span>{{ exercise.name }}</span>
                <span>
                  {{ exercise.repCount }}
                  <span *ngIf="exercise.id !== 0">reps</span>
                  <span *ngIf="exercise.id === 0">seconds</span>
                </span>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-list>
      </div>
      <div class="video-container">
        <iframe 
          *ngIf="exerciseList[selectedExercise].id !== 0"
          width="560"
          height="315"
          [src]='getSelectedExerciseUrl()'
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
        </iframe>
        <div
          class="rest-container"
          *ngIf="exerciseList[selectedExercise].id === 0">
          <strong>REST for {{ exerciseList[selectedExercise].repCount }} seconds</strong>
        </div>
        <div class="video-button-container">
          <div>
            <button
              mat-raised-button
              color="basic"
              *ngIf="selectedExercise !== 0"
              (click)="goToPreviousExercise()">
              Previous
            </button>
          </div>
          <div>
            <strong>{{ exerciseList[selectedExercise].name }}, {{ exerciseList[selectedExercise].repCount }}
              <span *ngIf="exerciseList[selectedExercise].id !== 0">reps</span>
              <span *ngIf="exerciseList[selectedExercise].id === 0">seconds</span>
            </strong>
          </div>
          <div>
            <button
              mat-raised-button
              color="warn"
              *ngIf="selectedExercise !== exerciseList.length - 1"
              (click)="goToNextExercise()">
              Next
            </button>
          </div>
        </div>
      </div>
    </div>
</div>